body {
  margin: 0 auto;
 }

h3 {
  position: relative;
  color: #797D7F;
  font-family: 'Elephant';
  font-size: 40px;
  text-align: center;
}

p {
  position: relative;
  font-size: 20px;
  left: 10%;
  top: 110px;
  font-family: 'Arial Black';
}

hr {
  top: 865px;
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial;
}
.top-container {
  width: 100%;
  margin: 0;
  height:100vh;
  top: 50%;
  background: url("title-intro.jpg") center no-repeat;
  background-size: cover;
}

.top-container-title {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  left:20%;
  top: 35%;
}
.top-container-subtitle {
  position: absolute;
  font-size: 50px;
  color: #fff;
  left:35%;
  top: 55%;
}

.header {
  width: 100%;
  padding-top: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  text-align: center;

}
.logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.nav {
  font-size: 17px;
  text-transform: uppercase;
}
.nav-link {
  display: inline-block;
  color: #fff;
  margin: 0 15px;
}
.clear {
  clear: none;
}
.floatRight {
  float: right;
}

.form{
  font-family: 'Arial';
  font-size: 30px;
}

.pictures {
  position:relative;
  display: flex;
  flex-wrap: wrap;
  margin:55px 55px 55px 55px;
}


.Container2 {
  background-color: #E6F0EB;
  margin:20px 20px 20px 20px;
}

.textHobb {
  font-size: 40px;
  font-family: Arial;
  font-weight: bold;
  background: linear-gradient(45deg, green, #721BCC);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  border-bottom: 6px solid green;
}
.top{
  position: absolute;
}
.middle {
  position: absolute;
  bottom: -2199px;
  left: 360px;
}
.bottom {
  position: absolute;
  bottom: -2399px;
  left: 560px;
}
.top2{
  position: absolute;
  left:360px;
}
.middle2 {
  position: absolute;
  bottom: -2199px;
  right: 360px;
}
.bottom2 {
  position: absolute;
  bottom: -2399px;
  right: 560px;
}
.contact {
  background-color: #E1E1DD;
}
.tableLocat {
  position: relative;
  left:120px;
}
